################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs
/baekjoon_warmup/입출력/입출력_연습문제/.vs/입출력_연습문제/v17
